.nav_footer{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 85px;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px solid black;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}