*{
    font-family: 'space mono' ;
}
.header{
    display: flex;
    justify-content: center;
    height: 80px;  
    background: #FFF;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
.logonav{
    display: flex;
    width: 1440px;
    justify-content: space-around;
    gap: 150px;
}
.logo{
    margin-top: 33px;
    width: 100%;
    height: 14px;
}
.nav_header{
    display: flex;
    gap: 50px;
    font-weight: bold;
    margin-top: 32px;
    font-size: 16px;
    text-transform: uppercase;
}
img{
    width: 34vw;
    height: 59vh;
    object-fit: cover;
}
.selecteur{
    display: flex;
    justify-content: space-around;
    margin: 80px 40px 40px 40px;
}
.select_gauche{
    display: flex;
    gap: 35px;
}
select{
    width: 260px;
    padding: 11px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 8px;
    border: 1.3px solid var(--blues-gray-2, #B8BBC2);
    background: var(--White, #FFF); 
    text-transform: uppercase;
}