.single{
    justify-content: center;
    text-align: center;
    .top{
        flex-wrap: wrap;
        width: 100%;
        align-items: end;
        .info{
            width: 49%;
            text-align: initial;
            border-bottom: 1px solid black;
            margin-right: 21px;
            text-transform: uppercase;
            .title{
                width: 420px;
                font-size: 66px;
                font-style: italic;
                font-weight: 400;
                line-height: 58px; 
            }
            .cat{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.4px; 
            }
        }
        .img{
            width: 49%;
            height: 95%;
        }
    }
    .middle{
        justify-content: space-between;
        border-bottom: 1px solid black;
        margin: auto;
        width: 100%;
        .info{
            margin-top: 40px;
            margin-bottom: 40px;
            .text{
                margin-right: 50px;
            }
            .btn{
                width: 260px;
                height: 50px;
                border-radius: 2px;
                background: #D8D8D8;
                box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
                border: none;
            }
        }
        .right{
            margin-top: 8px;
            .miniature{
                height: 80px;
                width: 80px;
                display: none;
            }
            .arrow{
                justify-content: space-around;
                .fleche{
                    width: 40%;
                    height: 50%;
                }
            }
        }
    }
    .vous{
        margin-top: 70px;
        margin-bottom: 50px;
        text-align: left;
    }
    .galerie{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.activemini{
    display: block;
}
.cacher{
    display: none;
}

